#{extends 'main.html' /}
#{set title:'Analyses' /}

<div class="container" style="padding-top: 50px">
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="nav nav-tabs" id="analyses">
		  		<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
		  		<li><a href="#pairwise" data-toggle="tab">Pairwise conservation</a></li>
		  		<li><a href="#functional" data-toggle="tab">Functional annotations</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active" id="overview">...</div>
				<div class="tab-pane" id="pairwise">...</div>
				<div class="tab-pane" id="functional">...</div>
			</div>
		</div>
	</div>			
</div>	
	
