#{extends 'main.html' /}
#{set title:'Enhancers' /}

	<div class="container">
		<div class="row">
	  		<div class="col-md-4"></div>
	  			<h2>Browse Flylight enhancers</h2>
	  			<div class="btn-group">
	  				<button type="button" class="btn btn-success">All Sox binding patterns</button>
	  				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
	   					<span class="caret"></span>
	 				</button>
	  				<ul class="dropdown-menu" role="menu">
					    <li><a href="#">D unique</a></li>
					    <li><a href="#">SoxN unique</a></li>
					    <li><a href="#">D and SoxN</a></li>
	 				</ul>
	 			</div>
	 			<div class="btn-group">	
		  			<button type="button" class="btn btn-success">All expression stages</button>
		  			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
		  				<span class="caret"></span>
		  			</button>
		  			<ul class="dropdown-menu" role="menu">
		  				<li><a href="#">GBE</a></li>
		  				<li><a href="#">Stage 16</a></li>
		  			</ul>
		  		</div>
		  		<div class="btn-group">	
		  			<button type="button" class="btn btn-success">All expression subsets</button>
		  			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
		  				<span class="caret"></span>
		  			</button>
		  			<ul class="dropdown-menu" role="menu">
		  				<li><a href="#">NBs</a></li>
		  				<li><a href="#">Neurons</a></li>
		  				<li><a href="#">Midline</a></li>
		  			</ul>
		  		</div>	
	  		</div>				
	  	</div>

		<table class="table table-bordered">
	
		</table>
	</div>	