#{extends 'main.html' /}
#{set title:'Enhancers' /}

	<div class="container" style="padding-top: 50px">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Filter results by:</h4></div>
  				<div class="panel-body">
					<form class="form-inline" action="@{Application.enhancersByInput()}" method="GET" role="form">
							<div class="form-group">
								<label for="selector1">Sox binding pattern</label>
								<select class="form-control" name="soxBind">
								  <option>Dichaete unique</option>
								  <option>SoxN unique</option>
								  <option>Common</option>
								  <option selected="selected">All</option>
								</select>
							</div>
							<div class="form-group">
								<label for="selector2">Sox transcompensation</label>
								<select class="form-control" name="soxTrans">
									<option>Transcompensation</option>
									<option>No transcompensation</option>
									<option selected="selected">All</option>
								</select>
							</div>		
							<div class="form-group">	
					  			<label for="selector2">Expression stage</label>
								<select class="form-control" name="expStage">
								  <option>GBE</option>
								  <option>Stage 16</option>
								  <option selected="selected">All</option>
								</select>
							</div>
							<div class="form-group">	
								<label for="selector3">Expression subset</label>
								<select class="form-control" name="expSubset">
								  <option>NBs</option>
								  <option>Neurons</option>
								  <option>Midline</option>
								  <option selected="selected">All</option>
								</select>
							</div>	
					 		<button type="submit" class="btn btn-info" style="margin-top: 25px">Submit</button>				
			 		</form>	
			 	</div>
			 </div>						
	  	</div>
	  </div>	
	  	
 #{if enhancers.size()}
 	<div class="container">
          	<div class="panel panel-default">
          		<div class="panel-heading"><h4>Browse Flylight enhancers</h4></div>      			
				<table class="table table-bordered">
        			<thead>
				         <tr>
				           <th>Enhancer</th>
				           <th>Chromosome</th>
				           <th>Start</th>
				           <th>End</th>
				           <th>Sox binding pattern
				               <a title="The Sox binding pattern refers to whether an enhancer is bound in vivo by Dichaete alone, SoxN alone, or both proteins in common."
				               	data-toggle="tooltip">[?]</a>
				           </th>
				           <th>Sox transcompensation
				           		<a title="Sox transcompensation refers to whether or not Dichaete or SoxN bind an enhancer in a compensatory manner in a reciprocal mutant background."
				               	data-toggle="tooltip">[?]</a>
				           </th>
				           <th>Expression stage</th>
				           <th>Expression subset</th>
				           <th></th>
				         </tr>
				       </thead>
				       <tbody>
				       #{list items:enhancers, as:'enhancer'}
			         	<tr>
				           	<td><a href="@{Application.tfsitesByEnhancer(enhancer.name, 1)}" data-toggle="tooltip" title="View TF binding sites">${enhancer.name}</a></td>
			           		<td>${enhancer.chrom}</td>
			           		<td>${enhancer.startCoords}</td>	
			           		<td>${enhancer.endCoords}</td>
			           		<td>${enhancer.soxBindPattern}</td>	
			           		<td>${enhancer.transcomp}</td>
			           		<td>#{list items:enhancer.expressionStage, as:'expStage'}
			           			${expStage}    
			           			#{/list}</td>
			           		<td>#{list items:enhancer.expressionSubset, as:'expSubset'}
			           			${expSubset}
			           			#{/list}</td>	
			           		<td><a href="http://genome-euro.ucsc.edu/cgi-bin/hgTracks?hgHubConnect.destUrl=..%2Fcgi-bin%2FhgTracks&clade=insect&org=D.+melanogaster&db=dm3&position=${enhancer.chrom}%3A${enhancer.startCoords}-${enhancer.endCoords}&hgt.positionInput=${enhancer.chrom}%3A${enhancer.startCoords}-${enhancer.endCoords}&hgt.suggestTrack=refGene&Submit=submit&hgsid=195141675" target="_blank">View in UCSC Genome Browser</a></td>	
			           </tr>
			           #{/list} 		
				      </tbody>
				 </table>	
			</div>	
		</div>
		<div class="container">
		<ul id="pagination" class="pagination">
			#{if page > 1}			
		 	 	<li id="previous"><a href="@{Application.enhancers(page-1)}">&laquo; Previous 100</a></li>
		 	#{/if}
		 	#{if enhancers.size() == 100}	
		  		<li id="next"><a href="@{Application.enhancers(page+1)}">Next 100 &raquo;</a></li>
		  	#{/if}	
		</ul>
		</div>
	</div>	
			
#{/if}			