#{extends 'main.html' /}
#{set title:'Enhancers' /}

	<div class="container" style="padding-top: 50px">
         <div class="panel panel-default">
          		<div class="panel-heading"><h4>Selected enhancer</h4></div>      			
				<table class="table table-bordered">
        			<thead>
				         <tr>
				           <th>Enhancer</th>
				           <th>Chromosome</th>
				           <th>Start</th>
				           <th>End</th>
				           <th>Sox binding pattern</th>
				           <th>Sox transcompensation</th>
				         </tr>
				       </thead>
				       <tbody>
			         	<tr>
				           	<td><a href="@{Application.tfsitesByEnhancer(enhancer.name, 1)}" data-toggle="tooltip" title="View TF binding sites">${enhancer.name}</a></td>
			           		<td>${enhancer.chrom}</td>
			           		<td>${enhancer.startCoords}</td>	
			           		<td>${enhancer.endCoords}</td>
			           		<td>${enhancer.soxBindPattern}</td>	
			           		<td>${enhancer.transcomp}</td>	
			           </tr>		
				      </tbody>
				 </table>
				 <div class="panel-footer">To view predicted TF binding sites associated with an enhancer, click on the enhancer's name.</div>	
			</div>	
		</div>	
	</div>	
