#{extends 'main.html' /}
#{set title:'Enhancers' /}

	<div class="container" style="padding-top: 50px">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Filter results by:</h4></div>
  				<div class="panel-body">
					<form class="form-inline" action="@{Application.enhancersByInput()}" method="GET" role="form">
							<div class="form-group">
								<label for="soxBind">Sox binding pattern</label>
								<select class="form-control" name="soxBind">
								#{if soxBind == 'Dunique'}
								  <option selected="selected">Dichaete unique</option>
								 #{/if}
								 #{else}
								  <option>Dichaete unique</option>
								 #{/else}
								 #{if soxBind == 'SoxNunique'} 
								  <option selected="selected">SoxN unique</option>
								 #{/if} 
								 #{else}
								  <option>SoxN unique</option>
								 #{/else}
								 #{if soxBind == 'common'}  
								  <option selected="selected">Common</option>
								 #{/if}
								 #{else}
								  <option>Common</option> 
								 #{/else}
								 #{if soxBind == null} 
								  <option selected="selected">All</option>
								 #{/if}
								 #{else}
								  <option>All</option>
								 #{/else}  
								</select>
							</div>
							<div class="form-group">
								<label for="soxTranscomp">Sox transcompensation</label>
								<select class="form-control" name="soxTrans">
								#{if transcomp == true}
									<option selected="selected">Transcompensation</option>
								#{/if}
								#{else}
									<option>Transcompensation</option>
								#{/else}
								#{if transcomp == false}
									<option selected="selected">No transcompensation</option>
								#{/if}
								#{else}
									<option>No transcompensation</option>
								#{/else}
								#{if transcomp == null}
									<option selected="selected">All</option>
								#{/if}
								#{else}
									<option>All</option>
								#{/else}
								</select>
							</div>							
							<div class="form-group">	
					  			<label for="expStage">Expression stage</label>
								<select class="form-control" name="expStage">
								 #{if expStage == 'GBE'}
								  <option selected="selected">GBE</option>
								 #{/if}
								 #{else}
								  <option>GBE</option>
								 #{/else}
								 #{if expStage == 'St16'}  
								  <option selected="selected">Stage 16</option>
								 #{/if}
								 #{else}
								  <option>Stage 16</option>
								 #{/else}
								 #{if expStage == null}  
								  <option selected="selected">All</option>
								 #{/if}
								 #{else}
								  <option>All</option>
								 #{/else}  
								</select>
							</div>
							<div class="form-group">	
								<label for="expSubset">Expression subset</label>
								<select class="form-control" name="expSubset">
								 #{if expSubset == 'NB'}
								  <option selected="selected">NBs</option>
								 #{/if}
								 #{else}
								  <option>NBs</option>
								 #{/else}
								 #{if expSubset == 'neurons'}	   
								  <option selected="selected">Neurons</option>
								 #{/if}
								 #{else}
								  <option>Neurons</option>
								 #{/else}
								 #{if expSubset == 'midline'} 
								  <option selected="selected">Midline</option>
								 #{/if}
								 #{else}
								  <option>Midline</option>
								 #{/else}
								 #{if expSubset == null}  
								  <option selected="selected">All</option>
								 #{/if}
								 #{else}
								  <option>All</option>
								 #{/else}  
								</select>
							</div>	
					 		<button type="submit" class="btn btn-info" style="margin-top: 25px">Submit</button>	
			 		</form>	
			 	</div>
			 </div>						
	  </div>
	  
	  <div class="container" style="padding-bottom: 30px">
	  	<a class="btn btn-info" onclick="history.back();" value="Back"><span class="glyphicon glyphicon-chevron-left"></span>  Back to viewing all enhancers</a>
	  </div>	
	  
	  #{if enhancers.size()}
		<div class="container">	  
          	<div class="panel panel-default">
          		<div class="panel-heading"><h4>Browse Flylight enhancers</h4></div>      			
				<table class="table table-bordered">
        			<thead>
				         <tr>
				           <th>Enhancer</th>
				           <th>Chromosome</th>
				           <th>Start</th>
				           <th>End</th>
				           <th>Sox binding pattern
				               <a title="The Sox binding pattern refers to whether an enhancer is bound in vivo by Dichaete alone, SoxN alone, or both proteins in common."
				               	data-toggle="tooltip">[?]</a>
				           </th>
				           <th>Sox transcompensation
				           		<a title="Sox transcompensation refers to whether or not Dichaete or SoxN bind an enhancer in a compensatory manner in a reciprocal mutant background."
				               	data-toggle="tooltip">[?]</a>
				           </th>
				           <th>Expression stage</th>
				           <th>Expression subset</th>
				           <th></th>
				         </tr>
				       </thead>
				       <tbody>
				       #{list items:enhancers, as:'enhancer'}
			         	<tr>
				           	<td><a href="@{Application.tfsitesByEnhancer(enhancer.name, 1)}" data-toggle="tooltip" title="View TF binding sites">${enhancer.name}</td>
			           		<td>${enhancer.chrom}</td>
			           		<td>${enhancer.startCoords}</td>	
			           		<td>${enhancer.endCoords}</td>
			           		<td>${enhancer.soxBindPattern}</td>	
			           		<td>${enhancer.transcomp}</td>	
			           		<td>#{list items:enhancer.expressionStage, as:'expressionStage'}
			           			${expressionStage}    
			           			#{/list}</td>
			           		<td>#{list items:enhancer.expressionSubset, as:'expressionSubset'}
			           			${expressionSubset}
			           			#{/list}</td>
			           		<td><a href="http://genome-euro.ucsc.edu/cgi-bin/hgTracks?hgHubConnect.destUrl=..%2Fcgi-bin%2FhgTracks&clade=insect&org=D.+melanogaster&db=dm3&position=${enhancer.chrom}%3A${enhancer.startCoords}-${enhancer.endCoords}&hgt.positionInput=${enhancer.chrom}%3A${enhancer.startCoords}-${enhancer.endCoords}&hgt.suggestTrack=refGene&Submit=submit&hgsid=195141675" target="_blank">View in UCSC Genome Browser</a></td>	
			           </tr>
			           #{/list} 		
				      </tbody>
				 </table>	
				</div>
				<div class="container">
				<ul id="pagination" class="pagination">
					#{if page > 1}
					#{if transcomp == true}			
				 	 	<li id="previous"><a href="@{Application.enhancersByInput(soxBind, "Transcompensation", expStage, expSubset, page-1)}">&laquo; Previous 100</a></li>
				 	#{/if}
				 	#{if transcomp == false}			
				 	 	<li id="previous"><a href="@{Application.enhancersByInput(soxBind, "No transcompensation", expStage, expSubset, page-1)}">&laquo; Previous 100</a></li>
				 	#{/if}
				 	#{if transcomp == null}			
				 	 	<li id="previous"><a href="@{Application.enhancersByInput(soxBind, "All", expStage, expSubset, page-1)}">&laquo; Previous 100</a></li>
				 	#{/if}
				 	#{/if}
				 	#{if enhancers.size() == 100}
				 	#{if transcomp == true}	
				  		<li id="next"><a href="@{Application.enhancersByInput(soxBind, "Transcompensation", expStage, expSubset, page+1)}">Next 100 &raquo;</a></li>
				  	#{/if}
				  	#{if transcomp == false}	
				  		<li id="next"><a href="@{Application.enhancersByInput(soxBind, "No transcompensation", expStage, expSubset, page+1)}">Next 100 &raquo;</a></li>
				  	#{/if}
				  	#{if transcomp == null}	
				  		<li id="next"><a href="@{Application.enhancersByInput(soxBind, "All", expStage, expSubset, page+1)}">Next 100 &raquo;</a></li>
				  	#{/if}
				  	#{/if}	
				</ul>
				</div>	
			</div>
		</div>		
	#{/if}		
	#{else}
		<div class="container">
			<p><h3>No enhancers fit those criteria, sorry!</h3></p>
		</div>	
	#{/else}		