#{extends 'main.html' /}
#{set title:'Home' /}


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Welcome to the FlyLighthouse!</h3>
	</div>	
	<div class="panel-body">
	 	<p class="lead">
	 		<ul>
	 			<li>To view Flylight enhancer data, click on "Browse enhancers."</li> 
	 			<li>For data on predicted TF binding sites in the enhancers, click on "Browse predicted TF sites".</li>
	 			<li>To see the results of some evolutionary analyses performed on this data, click on "View analyses".</li>
	 		</ul>
	 	</p>		
	 </div>	
</div>			



		