#{extends 'main.html' /}
#{set title:'Home' /}

<div class="jumbotron">
	<div class="container">
		<h1><i class="fa fa-bug"></i> SoxSites</h1>
		<p>A browse-able database of predicted transcription factor binding sites within experimentally-verified <i>Drosophila</i> enhancers. 
		</p>
	</div>
</div>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<form action="@{Application.enhancersByName()}" method="GET" role="form">
				<div class="form-group">
					<label for="EnhancerInput"><h2>Enter an enhancer to view: </h2></label>
					<input type="name" class="form-control" name="EnhancerInput" placeholder="Enhancer">
				</div>		
				<button type="submit" class="btn btn-info">View</button>
			</form>	
		</div>
	</div>	
</div>	

<div class="container">
    	<div class="col-md-6">
    		<h2>Explore FlyLight enhancers</h2> 
    		<p>Browse all annotated enhancers and view their predicted TF binding sites.  
    		</p> 	
    	</div>
    	<div class="col-md-6">
    		<h2>View evolutionary analyses</h2>
    		<p>Examine some evolutionary patterns of enhancers and transcription factor binding sites.
    		</p>	
    	</div>
</div>    

<div class="container">
    	<div class="col-md-6">
			<p>
    			<a class="btn btn-info" role="button" href="@{Application.enhancers(1)}">Browse enhancers</a>
    		</p>
    	</div>
    	<div class="col-md-6">
    		<p>
    			<a class="btn btn-info" role="button" href="@{Application.analyses()}">View analyses</a>
    		</p>
    	</div>
</div>    			
	



		