#{extends 'main.html' /}
#{set title:'TFsites' /}


<div class="container" style="padding-top: 50px">
 #{if tfsites.size()}
          	<div class="panel panel-default">
          		<div class="panel-heading"><h4>Predicted TF binding sites for ${enhancer}:</h4></div>      			
				<table class="table table-bordered">
        			<thead>
				         <tr>
				           <th>TF</th>
				           <th>Enhancer</th>
				           <th>Start position in alignment</th>
				           <th>End position in alignment</th>
				           <th>Species in which site predicted</th>
				           <th>Sequence</th>
				           <th>PWM score</th>
				           <th>Alignment</th>
				         </tr>
				       </thead>
				       <tbody>
				       #{list items:tfsites, as:'tfsite'}
			         	<tr>
				           	<td>${tfsite.TF}</td>
			           		<td><a href="@{Application.enhancersByName(tfsite.enhancer.name)}">${tfsite.enhancer.name}</a></td>
			           		<td>${tfsite.relstart}</td>	
			           		<td>${tfsite.relend}</td>
			           		<td>
			           			#{list items:tfsite.species.name, as:'species'}
			           				#{if species == 'dmel'}
			           					<span class="label label-warning">D. mel</span>
			           				#{/if}
			           				#{elseif species == 'dsim'}
			           					<span class="label label-info">D. sim</span>
			           				#{/elseif}	
			           				#{elseif species == 'dyak'}
			           					<span class="label label-success">D. yak</span>
			           				#{/elseif}	
			           				#{elseif species == 'dpse'}
			           					<span class="label label-danger">D. pse</span>
			           				#{/elseif}
			           			#{/list}	
			           		<td>${tfsite.sequence}</td>
			           		<td>${tfsite.wscore}</td>
			           		#{if (tfsite.alignment != null)}
			           		<td>
			           			<p>>D. mel<br>
			           			${tfsite.alignment.align.get(">dmel")}<br>
			           			>D. sim<br>
			           			${tfsite.alignment.align.get(">dsim")}<br>
			           			>D. yak<br>
			           			${tfsite.alignment.align.get(">dyak")}<br>
			           			>D. pse</br>
			           			${tfsite.alignment.align.get(">dpse")}</p>
			           		</td>
			           		#{/if}	
			           </tr>
			           #{/list} 		
				      </tbody>
				 </table>	
			</div>	
		</div>
	<div class="container">	
		<ul class="pagination">
			#{if page > 1}			
		 	 	<li><a href="@{Application.tfsitesByEnhancer(enhancer, page-1)}">&laquo;</a></li>
		 	#{/if}	
		 	#{if tfsites.size() == 100}
		  		<li><a href="@{Application.tfsitesByEnhancer(enhancer, page+1)}">&raquo;</a></li>
		  	#{/if}	
		</ul>	
	</div>	
#{/if}	

#{else}
	<p>
		<h3>Sorry, no TF sites have been predicted for this enhancer.</h3>
	</p>
	<p>
		<a class="btn btn-info" role="button" onclick="history.back();" value="Back"><span class="glyphicon glyphicon-chevron-left"></span> Back to browsing enhancers</a>
#{/else}			
	</div>	
</div>				 			