#{extends 'main.html' /}
#{set title:'TFsites' /}

	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Filter results by:</div>
  				<div class="panel-body">
  					<form role="form">
	  					<div class="form-group">
							<label for="selector1">TF</label>
							<select multiple class="form-control">
							  <option>Dichaete</option>
							  <option>SoxN</option>
							</select>
						</div>
						<div class="form-group">
							<label for="checkboxes">Species</label>
							<div class="checkbox-inline">
					 			<label class="checkbox-inline">
					 				<input type="checkbox" id="Species" value="option1"> D. melanogaster
					 			</label>
					 			<label class="checkbox-inline">
					 				<input type="checkbox" id="Species" value="option2"> D. simulans
					 			</label>			
					 			<label class="checkbox-inline">
					 				<input type="checkbox" id="Species" value="option3"> D. yakuba
					 			</label>
					 			<label class="checkbox-inline">
					 				<input type="checkbox" id="Species" value="option4"> D. pseudoobscura
					 			</label>
					 			<p class="help-block">Note that selecting more than one species will retrieve <b>only</b> sites present in <b>all</b> of those species (AND, rather than OR logic).</p>
					 		</div>	
					 	</div>
					 	<button type="submit" class="btn btn-info">Submit</button>		
					</form>	
	 			</div>
	 		</div>
	 	</div>
	 </div>		
			 					

 #{if tfsites.size()}
          	<div class="panel panel-default">
          		<div class="panel-heading">Browse predicted TF binding sites</div>      			
				<table class="table table-bordered">
        			<thead>
				         <tr>
				           <th>TF</th>
				           <th>Enhancer</th>
				           <th>Relative start position</th>
				           <th>Relative end position</th>
				           <th>Sequence</th>
				           <th>PWM score</th>
				         </tr>
				       </thead>
				       <tbody>
				       #{list items:tfsites, as:'tfsite'}
			         	<tr>
				           	<td>${tfsite.TF}</td>
			           		<td><a href="@{Application.enhancersByName(tfsite.enhancer.name)}">${tfsite.enhancer.name}</a></td>
			           		<td>${tfsite.relstart}</td>	
			           		<td>${tfsite.relend}</td>
			           		<td>${tfsite.sequence}</td>
			           		<td>${tfsite.wscore}</td>	
			           </tr>
			           #{/list} 		
				      </tbody>
				 </table>	
			</div>	
		</div>	
#{/if}			
	</div>	