#{extends 'main.html' /}
#{set title:'TFsites' /}

	<div class="container">
		<div class="row">
	  		<div class="col-md-2">
	  			<div class="btn-group">
	  				<button type="button" class="btn btn-info">All TFs</button>
	  				<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
	   					<span class="caret"></span>
	 				</button>
	  				<ul class="dropdown-menu" role="menu">
					    <li><a href="@{Application.tfsitesByTF("D")}">D</a></li>
					    <li><a href="@{Application.tfsitesByTF("SoxN")}">SoxN</a></li>
	 				</ul>
	 			</div>
	 		</div>
	 		<div class="col-md-8">	
	 			<form role="form">
	 				<div class="form-group">
		 				<div class="checkbox-inline">
				 			<label class="checkbox-inline">
				 				<input type="checkbox" id="Species" value="option1"> D. melanogaster
				 			</label>
				 			<label class="checkbox-inline">
				 				<input type="checkbox" id="Species" value="option2"> D. simulans
				 			</label>			
				 			<label class="checkbox-inline">
				 				<input type="checkbox" id="Species" value="option3"> D. yakuba
				 			</label>
				 			<label class="checkbox-inline">
				 				<input type="checkbox" id="Species" value="option4"> D. pseudoobscura
				 			</label>
				 			<p class="help-block">Please select which species to view. You may select multiple species, but note that this implies viewing <b>only</b> sites that are present in <b>all</b> of those species (AND rather than OR).</p>
				 		</div>	
			 		</div>		
		 		</form>	
		 	</div>			
	  	</div>

 #{if tfsites.size()}
          	<div class="panel panel-default">
          		<div class="panel-heading">Browse predicted TF binding sites</div>      			
				<table class="table table-bordered">
        			<thead>
				         <tr>
				           <th>TF</th>
				           <th>Enhancer</th>
				           <th>Relative start position</th>
				           <th>Relative end position</th>
				           <th>Sequence</th>
				           <th>PWM score</th>
				         </tr>
				       </thead>
				       <tbody>
				       #{list items:tfsites, as:'tfsite'}
			         	<tr>
				           	<td>${tfsite.TF}</td>
			           		<td><a href="@{Application.enhancersByName(tfsite.enhancer.name)}">${tfsite.enhancer.name}</a></td>
			           		<td>${tfsite.relstart}</td>	
			           		<td>${tfsite.relend}</td>
			           		<td>${tfsite.sequence}</td>
			           		<td>${tfsite.wscore}</td>	
			           </tr>
			           #{/list} 		
				      </tbody>
				 </table>	
			</div>	
		</div>	
#{/if}			
	</div>	